# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Expo
.expo
dist/
web-build/
expo-env.d.ts

# Git
.git

# Snapshots
.snapshots

# VS Code
.vscode

# Native directories
android
ios

# Dependencies
node_modules/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Firebase configuration
.firebaserc

# Expo Application Services
eas.json
